*~
build
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*~.nib
.gitattributes
.DS_Store
_RUNTIME_/log/
DEADJOE
UserInterfaceState.xcuserstate
*.so
*.a
*.ncb
MacOS/MTEngine-MacOS.xcodeproj/xcuserdata/mars.xcuserdatad/xcdebugger/
MacOS/.idea/
MacOS/MTEngine-MacOS.xcodeproj/project.xcworkspace/xcshareddata/MTEngine-MacOS.xccheckout
tools/DeployMaker_v1.0/Debug/
Debug/
core.*
core
!Engine/Core/
!Engine/Core/*
!Engine/Core/**/*
!Games/c64/Emulators/vice/core/
!Games/c64/Emulators/vice/core/*
!Games/c64/Emulators/vice/core/**/*
log/
/Release2/
