build
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*~.nib
.gitattributes
.DS_Store
_RUNTIME_/log/
DEADJOE
UserInterfaceState.xcuserstate
*.so
*.a
*.ncb
Android/bin/
Android/obj/
Android/release/
Android/gen/R.java.d
Android/gen/pl/rabidus/MTEngine/BuildConfig.java
MTEngine.xcodeproj/project.xcworkspace/xcuserdata/mars.xcuserdatad/xcdebugger/
MTEngine.xcodeproj/project.xcworkspace/xcshareddata/
MacOS/MTEngine-MacOS.xcodeproj/xcuserdata/mars.xcuserdatad/xcdebugger/
MacOS/.idea/
MacOS/MTEngine-MacOS.xcodeproj/project.xcworkspace/xcshareddata/MTEngine-MacOS.xccheckout
tools/DeployMaker_v1.0/Debug/
bmfont2slrfont/Debug/
Debug/
core.*
core
*~
!Engine/Core/
!Engine/Core/*
!Engine/Core/**/*
!Games/c64/Emulators/vice/core/
!Games/c64/Emulators/vice/core/*
!Games/c64/Emulators/vice/core/**/*
_RUNTIME_/Documents/deploy/
_RUNTIME_/Documents/current-level.storage
_RUNTIME_/Documents/current-level.txt
_RUNTIME_/Documents/current-theme.storage
_RUNTIME_/Documents/current-theme.txt
_RUNTIME_/Documents/jbd.highscore
_RUNTIME_/MTAnimEditor
log/
_RUNTIME_/Documents/default.anim
_RUNTIME_/Documents/editor-conf.txt
_RUNTIME_/Documents/cars-PL-*.data
_RUNTIME_/Documents/Cars/mapa/dd-map-d.pyramid
_RUNTIME_/Documents/Cars/mapa/dd-map-d/
_RUNTIME_/Documents/cars-load-correct
/Release2/
/Release/
MTEngine/Games/c64/TODO.txt
